@border-width:                         2px;

@radius--xs:                           4px;
@radius--sm:                           6px;
@radius--md:                           9px;
@radius--lg:                           13px;
@radius--xl:                           18px;

@border-color--lighter:              rgba(0,0,0,0.2);
@border-color--light:                rgba(0,0,0,0.1);
@border-color--normal:               rgba(0,0,0,0.2);
@border-color--dark:                 rgba(0,0,0,0.3);
@border-color--darker:               rgba(0,0,0,0.4);

@border-color--hover:               darken(@border-color-normal, 0.1);